/**
 * 模块：tshop-um-close-light 
 * 皮肤（主题）: 时尚女装女鞋百搭模版(浅色)
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-close-light"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-close-light {padding: 10px 10px 5px 10px;margin-bottom:10px; border: 1px solid #FFD9DE; background: #fff;zoom:1; padding-right: 0px; }
.tshop-um-close-light .close-top{width:930px;zoom:1;}
.tshop-um-close-light .close-top:after{clear: both;display: block;line-height: 0;font-size: 0;content: '.';visibility: hidden;}
.tshop-um-close-light .close-top div.l{ float: left;width: 180px; height: 180px; margin-right: 6px;margin-bottom: 5px;}
.tshop-um-close-light .close-pop {zoom:1;width:930px; display: none;}
.tshop-um-close-light .close-pop:after {clear: both;display: block;line-height: 0;font-size: 0;content: '.';visibility: hidden;}
.tshop-um-close-light .close-pop .pop{display: block;float: left;width: 180px; height: 180px; margin-right: 6px;margin-bottom: 5px; overflow:hidden; position: relative;}
.tshop-um-close-light .close-pop .pop img{ position: absolute;z-index: 1;display: inline;}
.tshop-um-close-light .close-pop .pop:hover{ background:yellow;}
.tshop-um-close-light .close-pop .pop span{ position: absolute;bottom: 0px;background:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
opacity: 0.8;color: #fff; height: 40px;color: #fff; visibility: hidden; z-index: 3;}
.tshop-um-close-light .close-pop .pop i{z-index: 2;background:#000;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);opacity: 0.6;width: 180px; height: 180px; position: absolute;top: 0px;left: 0px;}
.tshop-um-close-light .close-pop .pop:hover span{visibility:visible;}
.tshop-um-close-light .close-pop .pop:hover i{ visibility: hidden;}
.tshop-um-close-light .close-pop .pop b{ font-weight: normal;}
.tshop-um-close-light .close-pop .pop .price{float: left; background: #D84E66; height: 40px; width: 60px; line-height: 40px; text-align: center;overflow: hidden;}
.tshop-um-close-light .close-pop .pop .count{  width: 110px; height: 20px;overflow:hidden; color: #F98166; float: left; text-align: right;padding-left: 5px;padding-right: 2px;}
.tshop-um-close-light .close-pop .pop .name{ width: 110px; height: 20px;overflow:hidden;color: #Fff; float: left;padding-left: 5px;text-align: right;padding-right: 2px;}
.tshop-um-close-light .close-pop a:hover{ text-decoration: none;}

.tshop-um-close-light  .title{margin-bottom:10px;background: #F98AAB;height: 70px;line-height: 70px; padding:0px 20px 0px 20px;color: #fff;font-size: 25px; font-family: "微软雅黑";}
.tshop-um-close-light  .titleico {background: url("http://img04.taobaocdn.com/imgextra/i4/46353909/T2gfr9Xf8XXXXXXXXX_!!46353909.png") no-repeat; _background: none;float: left;width: 23px;height: 24px; margin-top: 25px;margin-right: 10px;}
.tshop-um-close-light  .title a{float: right;font-size: 20px;color: #fff;text-decoration: none;}

 
