<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-activity</id>
    <name>倒计时推销模块</name>
    <file>tshop-um-activity.php</file>
    <thumbnail>../../assets/images/date.png</thumbnail>
    <description></description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="时尚女装女鞋百搭模版">
        <theme name="时尚女装女鞋百搭模版">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
