/**

 * 模块：tshop-um-wangwang 

 * 皮肤（主题）: 默认

 * 规则:

 * 		1. CSS选择器必须包含 ".tshop-um-wangwang"，禁止使用模块页面元素的ID选择器

 *		2. CSS样式声明的position属性值不能使用:fixed

 *		3. CSS样式文件中z-index属性值必须在1-99之间

 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 

 */



.tshop-um-wangwang {height: 50px; border: 1px solid #CD577B; padding: 5px 5px 5px 5px; }
.tshop-um-wangwang .w_cont{background: #FFF0EB url(./././assets/images/bg_wangwang.jpg) no-repeat;height: 50px; padding-left: 100px;}
.tshop-um-wangwang .w_list a{ background:red ;border: 1px solid red;display: inline-block;width: 20px;height: 20px;}
.tshop-um-wangwang .w_box{float: left;width: 180px;}
.tshop-um-wangwang .w_box .w_sever{float: left;}
.tshop-um-wangwang .J_WangWang{}
 

