<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-class</id>
    <name>宝贝分类</name>
    <file>tshop-um-class.php</file>
    <thumbnail>../../assets/images/class.png</thumbnail>
    <description>展示你宝贝的分类信息，可以作为分类导航使用！</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750,950</supportedWidth>
    <themes default="时尚女装女鞋百搭模版">
        <theme name="时尚女装女鞋百搭模版">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="时尚女装女鞋百搭模版(橙色)">
            <css>assets/stylesheets/orange.css</css>
        </theme>
        <theme name="时尚女装女鞋模版(优雅浅色)">
            <css>assets/stylesheets/huali.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="推荐宝贝">
            <section title="宝贝输入项" folded="false">
                <param description="输入一个宝贝图片" formType="text" label="选择宝贝" name="class-img" ptype="url">http://img04.taobaocdn.com/imgextra/i4/46353909/T2uGHPXn8XXXXXXXXX_!!46353909.png</param>
                <param description="输入一个宝贝地址!尺寸：260*160(宽*高)" formType="text" label="选择宝贝" name="class-url" ptype="url">http://img04.taobaocdn.com/imgextra/i4/46353909/T2uGHPXn8XXXXXXXXX_!!46353909.png</param>
            </section>
        </group>
    </parameters>
</module>
