/**
 * 模块：tshop-pbsm-shop-srch-list 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-srch-list"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-srch-list {}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail a.item-name{color: #e17480;
border-bottom: 1px dashed #EEE;}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail .attribute .cprice-area .c-price{color: #D84E66;}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .rates .title h4{color: #e67263}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .rates .title h4 span{color: #e67263}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail{}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail .attribute .cprice-area .symbol{color: #D84E66;}
 
 
