<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-header_scroll</id>
    <name>轮播切换旋转木马</name>
    <file>tshop-um-header_scroll.php</file>
    <thumbnail>../../assets/images/b.png</thumbnail>
    <description>规则六图切换 划过大图显示</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750,950</supportedWidth>
    <themes default="时尚女装女鞋百搭模版">
        <theme name="时尚女装女鞋百搭模版">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="时尚女装女鞋百搭模版(橙色)">
            <css>assets/stylesheets/orange.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="添加你的图片">
            <section title="图片高度设置" folded="false">
                <param description="请输入大小为600以内,默认为560" formType="text" label="图片显示高度" name="img_height" ptype="text">300</param>
                <param description="请选择动画类型" formType="range" label="动画设置" name="effect" ptype="text">
					<option value="fade">渐影渐显</option>
                   <option value="scrollx" selected="selected">左右滚动</option>
                   <option value="none">无切换效果</option>
				</param>
            </section>
            <section title="图片一" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片1地址" name="img1" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2l9znXnBaXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片1跳转地址" name="img1_href" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2r8_hXetaXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img1_text" ptype="url">热门衣物登场</param>
            </section>
            <section title="图片二" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片2地址" name="img2" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2Tty_XehbXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片2跳转地址" name="img2_href" ptype="url">http://img04.taobaocdn.com/imgextra/i4/46353909/T2iuDaXmxaXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img2_text" ptype="url">热门衣物登场</param>
            </section>
            <section title="图片三" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片3地址" name="img3" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2Tty_XehbXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片3跳转地址" name="img3_href" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T24iniXiRXXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img3_text" ptype="url">热门衣物登场</param>
            </section>
            <section title="图片四" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片4地址" name="img4" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2Tty_XehbXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片4跳转地址" name="img4_href" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2r8_hXetaXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img4_text" ptype="url">热门衣物登场</param>
            </section>
            <section title="图片五" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片5地址" name="img5" ptype="url">http://img03.taobaocdn.com/imgextra/i3/46353909/T23jxXXhtNXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片5跳转地址" name="img5_href" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2r8_hXetaXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img5_text" ptype="url">热门衣物登场</param>
            </section>
        </group>
        <group title="动画设置">
            <section title="图片一" folded="false">
                <param description="请输入大小为950的图片" formType="text" label="图片1地址" name="img1" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2l9znXnBaXXXXXXXX_!!46353909.png</param>
                <param description="请输入跳转地址" formType="text" label="图片1跳转地址" name="img1_href" ptype="url">http://img01.taobaocdn.com/imgextra/i1/46353909/T2r8_hXetaXXXXXXXX_!!46353909.png</param>
                <param description="比如：热门衣物登场" formType="text" label="图片描述" name="img1_text" ptype="url">热门衣物登场</param>
            </section>
        </group>
    </parameters>
</module>
