/**
 * 模块：tshop-um-tabimg 
 * 皮肤（主题）: 时尚女装女鞋百搭模版
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-tabimg"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-tabimg {}

.tshop-um-tabimg .yslider-stage{float: left;zoom:1;display: inline;}
.tshop-um-tabimg .yslider-stage{width:430px;height: 430px;overflow: hidden;}
.tshop-um-tabimg .yslider-stage a{display: block;overflow: hidden;}

.tshop-um-tabimg .yslider-stage a.img{width:430px;height: 430px;display: block;}
.tshop-um-tabimg .yslider-stick{float: left;width: 570px; margin-left: 10px; }
.tshop-um-tabimg .yslider-stick li{width: 180px; float: left;height: 180px; margin-right: 10px; margin-bottom: 10px; position: relative;}
.tshop-um-tabimg .yslider-stick li.selected{z-index: 55;-moz-box-shadow:0px 1px 2px #333333; -webkit-box-shadow:0px 1px 2px #333333; box-shadow:0px 1px 2px #333333;}
.tshop-um-tabimg .yslider-stick li img{width: 180px;height: 180px; }
.tshop-um-tabimg .cainfo{height: 120px; background: #FEC0CA;display: block;color: #fff; margin-top: 5px;overflow: hidden;line-height: 2;padding-left: 5px;}
.tshop-um-tabimg .cainfo strong{display: block;}
.tshop-um-tabimg .cainfo strong i{font-style: normal;color: #FCFCD3;}
.tshop-um-tabimg .cainfo a{color: #FCFCD3;}
.tshop-um-tabimg .list{position: absolute;bottom: -40px;height: 40px; left: 0px;width: 100%; background: #fff;display: none;color: #000;-moz-box-shadow:0px 0px 1px #333333; -webkit-box-shadow:0px 0px 1px #333333; box-shadow:0px 1px 2px #333333;}
.tshop-um-tabimg .list strong {display: block;font-weight: normal;padding-left: 5px;}
.tshop-um-tabimg .list strong i{font-style: normal;color: #D84E66;text-decoration: none;}
.tshop-um-tabimg .yslider-stick li a{text-decoration: none;}
.tshop-um-tabimg .selected .list{display: block;}