<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-950img-list-show</id>
    <name>三张宝贝展示模块</name>
    <file>tshop-um-950img-list-show.php</file>
    <thumbnail>../../assets/images/3img.png</thumbnail>
    <description>多尺寸(950/750/550)宝贝展示模块，满足您全部宝贝的展现方式，不同布局适合您自己的个性化设计！</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>750,950</supportedWidth>
    <themes default="时尚女装女鞋百搭模版">
        <theme name="时尚女装女鞋百搭模版">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="选择您想展示的宝贝">
            <section title="请选择三项宝贝" folded="false">
                <param description="设置展示宝贝图片高度，最高600,初始为310" formType="text" label="图片高度" name="img_height" ptype="text">335</param>
                <param description="宝贝图片最好是300*335(宽*高)" formType="itemForm" label="选择宝贝" name="t-item" ptype="item">15,13,14</param>
                <param description="最好两字,例如：New" formType="text" label="宝贝签名1" name="t-name0" ptype="text">New1</param>
                <param description="最好两字,例如：New" formType="text" label="宝贝签名2" name="t-name1" ptype="text">潮款</param>
                <param description="最好两字,例如：New" formType="text" label="宝贝签名3" name="t-name2" ptype="text">包邮</param>
            </section>
        </group>
    </parameters>
</module>
